.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;

  overflow: auto;
}

.letter {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;

  white-space: nowrap;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
}
